statemachine/agentflow.asl.json
{
    "StartAt": "CheckNextAgent",
    "States": {
        "CheckNextAgent": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.nextagent",
                    "StringEquals": "END",
                    "Next": "Done"
                }
            ],
            "Default": "GetLambdaArn"
        },
        "GetLambdaArn": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
            "Parameters": {
                "TableName": "AgentRegistry",
                "Key": {
                    "agent_name": {
                        "S.$": "$.nextagent"
                    }
                }
            },
            "ResultPath": "$.dynamo_result",
            "Next": "SetNextFunctionName"
        },
        "SetNextFunctionName": {
            "Type": "Pass",
            "Parameters": {
                "lambda_arn.$": "$.dynamo_result.Item.lambda_arn.S",
                "input": {
                    "nextagent.$": "$.nextagent",
                    "message.$": "$.message",
                    "thread_id.$": "$.thread_id",
                    "channel_type.$": "$.channel_type",
                    "from.$": "$.from"
                }
            },
            "Next": "InvokeLambda"
        },
        "InvokeLambda": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName.$": "$.lambda_arn",
                "Payload.$": "$.input"
            },
            "ResultSelector": {
                "nextagent.$": "States.StringToJson($.Payload).nextagent",
                "message.$": "States.StringToJson($.Payload).message",
                "thread_id.$": "States.StringToJson($.Payload).thread_id",
                "channel_type.$": "States.StringToJson($.Payload).channel_type",
                "from.$": "States.StringToJson($.Payload).from"
            },
            "ResultPath": "$",
            "Next": "CheckNextAgent"
        },
        "Done": {
            "Type": "Succeed"
        }
    }
}